<p><%= current_server.name %>'s orders
<h2> Drinks </h2>

<% @orders.each do |order| %>
  <div>
    <li> <a href="/orders/<%= order.id%>"> Table <%= order.tbl_num %>: <%= order.drink %>(<%=order.quantity%>)</a></li>
  </div>
<% end %>